
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

* {
	box-sizing: border-box;
}
html {
	overflow-y: hidden;
}

#chatter {
	position: fixed;
	right: 1rem;
	bottom: 1rem;

	min-width: 500px;
	max-width: 500px;
	min-height: 30px;

	display: flex;
	flex-direction: column;

	box-shadow: 0rem 0rem 5rem -3rem #2e3035;
	// background: #ffb500;
	// background: linear-gradient(263deg, #ffb500 0%, #ffd157 89%, #ffed2f 100%);

     background: rgb(161, 255, 206);
     background: linear-gradient(to right, rgb(161, 255, 206), rgb(250, 255, 209));

	border-radius: 0.25rem;

	&.hidden {
		height: 65px;
		overflow: hidden;

		header + * {
			opacity: 0;
		}
	}	

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: -1rem;
		margin-bottom: 0rem;
		padding: 1rem;
		background: rgba(180, 240, 160, .3);

		.header-actions {			
			button {
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				border: none;

				font-size: 1rem;
				color: #666;
				background-color: rgba(180, 240, 220, 0);
				cursor: pointer;
				transition: all .25s ease-in-out;

				&:hover, &:active, &:focus {
					background-color: rgba(180, 240, 220, .5)
				}
			}
		}
	}

	h2 {
		display: flex;
		font-size: 1.25rem;
		font-weight: 700;
		color: #450;
		letter-spacing: .5px;

		.smol {
			font-size: 12px;
		}
	}

	#message-container,
	#user-container {
		flex: 1;
		height: 100%;
		max-height: 430px;

		background: #fff6;
		font-size: 0.9rem;

		overflow-y: hidden;
		
		span {
			display: inline-block;
			padding: .5rem 0rem .5rem .5rem;
			font-weight: 700;
		}
		span::after {
			content: ', '
		}
		span:last-of-type::after {
			content: ''
		}

		> div {
			min-height: 35px;
			padding: .25rem 1rem .5rem;

			&.server {
				background: rgba(230, 71, 71, 0.692)
			}
		}
		> div:nth-child(odd) {
			background: #f8fcb285;
		}

		::-webkit-scrollbar {
			width: 10px;
		}
		::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
		::-webkit-scrollbar-thumb {
			background: #888;
		}
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}

	#message-container {
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	#send-container {
		display: flex;
		justify-content: center;
		width: 100%;

		padding: 1rem 0 0;

		input {
			width: 100%;
			height: 50px;
			padding: 0 1rem;
		}
		button {
			width: 150px;
			max-width: 20%;
			height: 50px;
		}
	}
	#chatter-overlay {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 2;
		background: rgba(50, 50, 50, .6);
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			background: linear-gradient(to right, rgb(161, 255, 206), rgb(250, 255, 209));
			padding: 1rem 2rem;
			border: unset;
			font-size: 1rem;
			font-weight: 700;
			cursor: pointer;

			border-radius: 25% 10% / 60%;

			transition: all .3s ease-in-out;

			&:hover, &:focus, &:active {
				padding: 1.25rem 2.5rem;
			}
		}
	}
	#message-input {
		border: none;
		background: #fff6;
	}	
	#submit-button {
		border: none;
		background: rgba(180, 240, 220, .5);
		font-weight: 700;
		cursor: pointer;
	}

	.label {
		font-weight: 400;
	}
}

@media (max-width: 640px) {
	/* 	main {
		max-width: none;
	} */

	#chatter#chatter {
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		max-width: 100%;
		min-width: unset;

		&.hidden {
			height: 65px;
		}

		.main {
			flex: 1;

			#message-container {
				max-height: calc(100vh - 12rem - 130px);
			}
		}

		.row {
			flex-direction: column;
			.col {
				max-width: 100%;
				width: 100%;
				margin-bottom: 1rem;
				min-height: 90px;
			}
		}

		#user-container {
			margin-right: 0;
		}
	}
	#chatter #message-container,
	#chatter #user-container {
		max-height: 310px;
	}
}